html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.app-container {
  display: flex;
  height: 100vh; /* Use the full height of the viewport */
}

.map-wrapper {
  position: relative;
  width: 100%;
  height: 100%; /* Full height for the map */
}

/* Right half: Buttons and other content */
.controls-container {
  width: 50%;
  padding: 20px;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: scroll;
}

/* Additional styling for components */
.controls-container button {
  margin: 10px 0;
}

.controls-container input {
  margin-bottom: 20px;
  padding: 10px;
  font-size: 16px;
}

.controls-container ul {
  list-style-type: none;
  padding: 0;
}

.controls-container ul li {
  padding: 3px;
  background-color: #fff;
  border: 1px solid #ddd;
  margin-bottom: 5px;
  border-radius: 5px;
  font-size: 12px;
  overflow: scroll;
}

/* Map container */
.map-container {
  width: 100%;
  height: 100%;
}

/* Center the button at the top of the map */
.search-button {
  position: absolute;
  top: 10px;
  left: 55%;
  transform: translateX(-50%);
  z-index: 1;
  padding: 4px 8px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
  /* font-weight: bold; */
}

.search-button:hover {
  background-color: #45a049;
}

/* Disable default Google Map buttons */
.map-container button[aria-label="Full screen"], 
.map-container button[aria-label="Street View"], 
.map-container div[aria-label="Toggle satellite map"] {
  display: none;
}

.locate-button {
  position: absolute;
  top: 10px;
  z-index: 5;
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  cursor: pointer;
  top:  85%;
  left: 50%;
}

.locate-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: white;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.locate-button:hover {
  background-color: #f0f0f0;
}

.place-list {
  padding: 10px;
}
