/* src/App.css */

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.app-container {
  display: flex;
  height: 100vh; /* Use the full height of the viewport */
}

.map-container {
  position: relative;
  width: 100%;
  height: 100%; /* Full height for the map */
}

.controls-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50%; /* Initial height for the controls container */
  background-color: white;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.3);
  transition: height 0.3s ease;
  overflow-y: auto;
}

.controls-container.full {
  height: 100%;
}

.controls-container.middle {
  height: 50%;
}

.controls-container.minimized {
  height: 5%;
  overflow: hidden;
}

.overlay-controls {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.overlay-controls button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
}

/* Media queries for mobile devices */
@media (max-width: 768px) {
  .app-container {
    flex-direction: column;
  }

  .map-container {
    width: 100%;
    height: 50%; /* Half height for the map */
  }

  .controls-container {
    width: 100%;
    height: 50%; /* Half height for the controls container */
    padding: 0;
  }

  .controls-container.full {
    height: 100%;
  }

  .controls-container.middle {
    height: 50%;
  }

  .controls-container.minimized {
    height: 5%;
    overflow: hidden;
  }

  .map-container.expanded {
    height: 100%;
  }
}

/* Center the button at the top of the map */
.search-button {
  position: absolute;
  top: 47px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  padding: 4px 8px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
  /* font-weight: bold; */
}

.search-button:hover {
  background-color: #45a049;
}

/* Disable default Google Map buttons */
.map-container button[aria-label="Full screen"], 
.map-container button[aria-label="Street View"], 
.map-container div[aria-label="Toggle satellite map"] {
  display: none;
}

.locate-button {
  position: absolute;
  top: 10px;
  z-index: 5;
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  cursor: pointer;
  top:  85%;
  left: 50%;
}

.locate-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: white;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.locate-button:hover {
  background-color: #f0f0f0;
}

.place-list {
  padding: 10px;
}

.place-header {
  margin: 5px 0;
}

.place-grade-container {
  display: flex;
  justify-content: space-between;
}

p.place-grade {
  margin: 5px;
}

button.toggle-description-button {
  margin: 5px;
  font-size: 10px;
  padding: 0px 2px;
  background: beige;
  border-radius: 5px;
}

li.currentPlace-li {
  margin: 2px 0;
}

.grade-btn-container {
  display: flex;
  justify-content: flex-end;
}

button.grade-btn {
  margin: 5px;
  font-size: 12px;
  padding: 4px 4px;
  background: beige;
  border-radius: 5px;
}

.search-bar-container {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 5;
}

.search-bar-container input {
  width: 300px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.loading-gif {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}
button.grade-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

